<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<title>Stripe App Demo</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="/main.css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" />
<script src="https://js.stripe.com/v2/"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
</head>
<body>
	<div class="container" style="margin-bottom: 30px;">
		<div class="text-center">
			<h2 style="margin-top: 30px; margin-bottom: 30px;">Payment Web App</h2>
		</div>

		<div class="row">
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<table class="table table-bordered table-hover table-condensed"
					style="margin-bottom: 30px;">
					<thead>
						<tr>
							<th>Product Name</th>
							<th>Image</th>
							<th>Product Description</th>
							<th>Price</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="prod : ${productList}">
							<td th:text="${prod.name}"></td>
							<td><img class="img-responsive" style="width: 200px;"
								th:src="'/'+${prod.name}+'.png'" /></td>
							<td th:text="${prod.description}"></td>
							<td th:text="${#numbers.formatDecimal(prod.price, 1, 2)}"></td>
							<td><a th:href="@{/stripe/addToCart(id=${prod.id})}"
								class="btn btn-sm btn-primary">Add to Cart</a></td>
						</tr>
					</tbody>
				</table>

				<table class="table table-hover">
					<thead>
						<tr>
							<th>Product</th>
							<th><span style="marg-left: 40px;">Quantity</span></th>
							<th class="text-center">Price</th>
							<th class="text-center">SubTotal</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item : ${cartItemList}">

							<td class="col-sm-7">
								<div class="media">
									<div class="media-body">
										<h4 class="media-heading">
											<a href="#" th:text="${item.product.name}">Product Name</a>
										</h4>
										<span>State: </span><span class="text-success"><strong>In
												Stock</strong></span>
									</div>
								</div>
							</td>
							<td class="col-sm-2" style="text-align: center">
								<form th:action="@{/stripe/updateCart}" method="post">
									<input hidden="hidden" name="id" th:value="${item.id}" />
									<button th:id="'update-'+${item.id}" type="submit"
										class="btn-sm btn btn-info pull-left"
										style="height: 30px; display: none;">update</button>

									<input class="item-qty" th:id="'qty-'+${item.id}" name="qty"
										th:value="${item.qty}"
										style="display: inline-block; width: 50px;" />
								</form>
							</td>
							<td class="col-sm-1 text-center"><strong
								th:text="${item.product.price}" th:id="'price-'+${item.id}">$4.81</strong></td>

							<td class="col-sm-1 text-center"><strong class="subtotal"
								th:text="${item.subTotal}" th:id="'subtotal-'+${item.id}">$14.81</strong></td>

							<td class="col-sm-1"><a type="button"
								class="btn btn-warning btn-sm"
								th:href="@{/stripe/remove(id=${item.id})}"> <span
									class="glyphicon glyphicon-remove"></span> Remove
							</a></td>
						</tr>

						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td><h5>Total</h5></td>
							<td class="text-right"><h5>
									<strong id="total" th:text="${total}">$1234.12</strong>
								</h5></td>
						</tr>
					</tbody>
				</table>

				<h3>Checkout Payment</h3>
				<span th:if="${checkoutPaySuccess}"><h3 class="bg-info">Payment
						Successful!</h3></span>
				<form action="/stripe/checkoutPay" method="POST">
					<script src="https://checkout.stripe.com/checkout.js"
						class="stripe-button" data-key="pk_test_0kmqMXFKamjJDXOoNJ1VHsFV"
						data-amount="100000" data-name="Stripe App Demo Charge"
						data-description="Stripe App Demo Charge"
						data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
						data-locale="auto">
						
					</script>
				</form>

				<br /> <br />
				<h3>Elements Payment</h3>
				<span th:if="${elementsPaySuccess}"><h3 class="bg-info">Payment
						Successful!</h3></span>
				<form action="/stripe/elementsPay" method="post" id="payment-form">
					<div class="form-row">
						<label for="card-element"> Credit or debit card </label>
						<div id="card-element">
							<!-- a Stripe Element will be inserted here. -->
						</div>

						<!-- Used to display Element errors -->
						<div id="card-errors"></div>
					</div>

					<button>Submit Payment</button>
				</form>

				<br /> <br />
				<h3>Payment Order</h3>
				<span th:if="${paymentOrderCreated}"><h3 class="bg-info">Payment
						Created Successful!</h3></span>
				<form action="/stripe/paymentOrderPay" method="post">
					<button class="btn btn-primary">Submit Order</button>
				</form>

				<br /> <br />
				<h3>Basic Subscription</h3>
				<span th:if="${subscriptionSuccess}"><h3 class="bg-info">Subscription
						Created Successful!</h3></span>
				<form action="/stripe/subscribe" method="post"
					id="payment-form-broken">
					<div class="form-row">
						<input hidden="hidden" name="total" th:value="${total}" />

						<div class="form-group">
							<label for="cardNumber"> Card Number </label>
							<div id="cardNumber" class="form-control">
								<!-- a stripe element will be inserted here  -->
							</div>
							<div id="cardNumber-errors"></div>
						</div>

						<div class="form-group">
							<label for="cardExpiry"> Expiry </label>
							<div id="cardExpiry" class="form-control">
								<!-- a stripe element will be inserted here  -->
							</div>
							<div id="cardExpiry-errors"></div>
						</div>
						<div class="form-group">
							<label for="cardCvc"> CVC </label>
							<div id="cardCvc" class="form-control">
								<!-- a stripe element will be inserted here  -->
							</div>
							<div id="cardCvc-errors"></div>
						</div>
						<div class="form-group">
							<label for="postalCode"> Zip/Postal Code </label>
							<div id="postalCode" class="form-control">
								<!-- a stripe element will be inserted here  -->
							</div>
							<div id="postalCode-errors"></div>
						</div>
					</div>

					<button class="btn btn-primary btn-block">Subscribe</button>
				</form>

				<br /> <br />
				<h3>Multiple Plan Subscription</h3>
				<span th:if="${multiplePlanSubscriptionSuccess}"><h3
						class="bg-info">Multiple Plan Subscription Created
						Successful!</h3></span>
				<form action="/stripe/multiplanSubscribe" method="post">
					<button class="btn btn-primary">Submit Subscription</button>
				</form>

				<br /> <br />
				<h3>Discounted Subscription</h3>
				<span th:if="${discountedSubscriptionSuccess}"><h3
						class="bg-info">Discounted Subscription Created Successful!</h3></span>
				<form action="/stripe/discountSubscribe" method="post">
					<button class="btn btn-info">Submit Subscription</button>
				</form>

				<br /> <br />
				<h3>Trial Subscription</h3>
				<span th:if="${trialSubscriptionSuccess}"><h3 class="bg-info">Trail
						Subscription Created Successful!</h3></span>
				<form action="/stripe/trialSubscribe" method="post">
					<button class="btn btn-info">Submit Subscription</button>
				</form>

				<br /> <br />
				<h3>Paypal Payment Testing</h3>
				<span id="payment-success" style="display: none;"><h3
						class="bg-success" style="color: lightgreen">Thank you for
						your payment. Your order is being processed.</h3></span>
						<br /> <br /><br /> <br />
				<div id="paypal-button"></div>
			</div>
		</div>
	</div>



	
	<script src="/stripe.js"></script>
	<script src="/paypal.js"></script>
	<script src="/main.js"></script>
</body>
</html>